*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body{
    background-color: #333;
}

#modelBox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    display: none;
    transition: opacity 0.5s ease;
}

.offer-text{
    padding: 20px 40px 40px 40px;
    font-size: 10px;
    line-height: 30px;

}

.offer-text h2{
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 10px;
}
.offer-text small {
    display: inline-block;
    color: #ff2b4e;
    font-family: 600;
    margin-bottom: 20px;
}

p{
    font-size: 20px;
}

.offer-text form{
    margin-top: 30px;
    display: flex;
    background: #efefef;
    border-radius: 4px;
}

.offer-text form input{
    flex:1;
    border:0;
    outline: 0;
    background: transparent;
    padding: 12px 10px;
}

.offer-text form button{
    border: 0;
    outline: 0;
    cursor: pointer;
    background: #ff2b4e;
    color: #fff;
    padding: 0 21px;
    border-radius: 4px;
    font-size: 32px;
}

.close-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}